*,
*:before,
*:after {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    position: relative;
    height: 100%;
    overflow-x: hidden !important;
}
body {
    height: 100%;
    line-height: 100% !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    color: #212121;
}

/********** Links & type *********+*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #f0b800;
    text-decoration: none;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.2rem;
}
.dark {
    color: #fff !important;
}
.light {
    color: #212121 !important;
}
.cookie {
    font-family: 'Cookie', cursive;
}
.vastshadow {
    font-family: 'Vast Shadow', cursive;
}
.narrow {
    font-family: 'PT Sans Narrow', sans-serif;
}
.amarillo {
    color: #f0b800;
}

/********** Navbar *********+*/
.navbar {
    padding: 15px 10px;
    background: transparent;
    position: absolute;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: none;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.logo {
    z-index: 10;
}

/********** Sidebar *********+*/
#sidebarCollapse {
    z-index: 10;
    font-size: 1.6rem;
    font-weight: 100;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #080808;
    color: #fff;
    text-align: left;
    transition: all 0.3s;
    overflow-y: scroll;
    padding: 10px 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    left: 0;
}
#dismiss {
    line-height: 35px;
    text-align: left;
    position: absolute;
    top: 40px;
    left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#sidebarCollapse:hover, #dismiss:hover {
    color: #c2a00e !important;
}
#sidebar .sidebar-header {
    padding: 40px 0;
}
#sidebar ul.components {
    padding: 50px 0;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li  {
    margin-bottom: 20px;
}
#sidebar ul li a {
    padding: 3px 0;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
    line-height: 2em;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    border-bottom: 1px solid #c2a00e;
    width: 20%;
}
a[data-toggle="collapse"] {
    position: relative;
}
.sidebar-footer {
    display: flex;
    flex-direction: row;
}
.sidebar-footer img {
    width: 40px;
    height: auto;
    padding: 0 5px;
    margin-bottom: -25px;
}
.sidebar-footer h2 {
    padding: 0 5px;
    -ms-transform: rotate(-5deg); 
    -webkit-transform: rotate(-5deg); 
    transform: rotate(-5deg);
}
/********** Carousel *********+*/
.carousel-caption {
    bottom: 35%;
}
.slider-footer {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    right: 60px;
}
.slider-footer img {
    width: 40px;
    height: auto;
    padding: 0 5px;
    z-index: 12;
}
.slider-footer a {
    z-index: 12;
}
.slider-footer h2 {
    padding: 0 5px;
    -ms-transform: rotate(-5deg); 
    -webkit-transform: rotate(-5deg); 
    transform: rotate(-5deg);
}
.carousel-indicators {
    position: absolute;
    /* right: 0; */
    bottom: 40%;
    left: 10px;
    z-index: 15;
    display: -ms-flexbox;
    display: inline-grid;
    -ms-flex-pack: center;
    justify-content: start;
    padding-left: 0;
    margin-right: 5%;
    margin-left: 5%;
    list-style: none;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .8;
    transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #c2a00e;
}
/********** Dropdown *********+*/
.dropdown {
    z-index: 10;
    position: absolute;
    right: 5%;
    top: 5%;
}
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    animation-fill-mode: forwards; 
    transform: scale(0.9, 0.7) translateY(-20px);
    display: block; 
    transition: all 80ms ease-in-out;
}
.show > .dropdown-menu {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
}
.btn-dropdown {
    width: 280px;
    background: url('img/bgbtn.png') center center no-repeat;
    background-size: cover;
    background-color: #080808;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 12px 11px;
    border: none;
    border-radius: 10px 10px 0 0;
}
.dropdown-toggle::after {
    float: right;
}
.dropdown-toggle::after {
    /* display: inline-block; */
    /* margin-left: .255em; */
    /* vertical-align: .255em; */
    content: "";
    /* border-top: .3em solid; */
    /* border-right: .3em solid transparent; */
    /* border-bottom: 0; */
    /* border-left: .3em solid transparent; */
    float: right;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown-menu.show {
    display: block;
    background: #c3a100d6;
    padding: 20px 5px;
    text-align: center;
    width: 115%;
}
.dropdown-menu h2 {
    -ms-transform: rotate(-4deg); 
    -webkit-transform: rotate(-4deg); 
    transform: rotate(-4deg);
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.dropdown-menu .btn-sm {
    border-radius: 25px;
    font-size: .8rem;
    padding: 3px 5px;
    font-weight: bolder;
    margin: 0 10px;
}
.dropdown-item {
    font-size: .8rem;
    font-weight: 700;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: none;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: none;
}
.dropdown-item.active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background: none !important;
}

/********** Buscador *********+*/
.buscador {
    background: url('img/bgbusca.jpg') center center no-repeat;
    background-size: cover;
    padding: 40px 10%;
}
.buscador .favorito {
    -ms-transform: rotate(-4deg); 
    -webkit-transform: rotate(-4deg); 
    transform: rotate(-4deg);
    text-align: center;
    letter-spacing: -1px;
}
.buscador .form-inline .custom-select, .form-inline .input-group {
    background: #2e2e2e;
    width: 300px;
    font-size: .9rem;
}
.buscador .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 15px;
    padding: 5px 4%;
    transition: all .5s ease-in-out;
}
.buscador .btn-warning:hover {
    background-color: #c3a100d6;
    border-color: #c3a100d6;
}

/********** Lipigas *********+*/
.lipigas {
    background: url('img/bglipigas.png') center center no-repeat;
    background-size: cover;
    padding: 80px 10%;
    color: #00397c;
    text-transform: uppercase;
    text-align: center;
}
.lipigas h4,h5,a,span {
    font-weight: bolder;
}
.lipigas .btn-primary {
    background: #00397c;
    padding: 5px 15%;
    border-color: #00397c;
}
.borde {
    background: url('img/bglipigasb.png') center center no-repeat;
    background-size: 100%;
    height: 60px;
}
/** Animacion Gas **/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.lipigas .gas {
    transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

/********** Ideas *********+*/
.ideas {
    background: url('img/bgideas.png') center center no-repeat;
    background-size: cover;
    text-align: center;
}
.ideas .carousel-indicators {
    left: -60px;
}
.ideas .carousel-indicators li {
    background-color: #000;
}
.ideas .carousel-indicators li.active {
    background-color: #ffc107;
}
.ideas .ideastitle {
    -ms-transform: rotate(-4deg); 
    -webkit-transform: rotate(-4deg); 
    transform: rotate(-4deg);
}
.ideas .ideastitle h5,h2 {
    line-height: .2rem;
    margin-bottom: 0;
}